version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
    allow:
      - dependency-type: "all"
    open-pull-requests-limit: 10
    groups:
      kotlin-ecosystem:
        patterns:
          - "org.jetbrains.kotlin*"
          - "com.google.devtools.ksp*"
        update-types:
          - "minor"
          - "patch"
